/* common style */
body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6F0A;
    border: 0;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sctoin-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* nave style */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 150px;
} 
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 500px;
  
  
}

/* header style */
.banner{
    padding: 0px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 500px;
   
}

.banner-greeting{
    font-size: 45px;
    color: #474747;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* main section style */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }

 main section{
    margin-top: 100px;
 }
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-ingo-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;

}
.skills-container{
    display: flex;
    gap: 20px;

}
.skills{
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.skill-description{
    color: #757575;
}

/* resume section styles */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}